/* Regole generali */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}

/* H1 del title */
.title h1 {
    font-weight: 900;
    font-size: 42px;
    color: #e05780;
    padding: 30px 0px;
}

/* Paragrafo del title */
.title p {
    padding: 40px 0px;
}

/* Contenitore delle carte */
.cards-container {
    width: 100%;
    border: 1px solid black;
}

/* Carta */
.card {
    height: 100px;
    width: calc(30%);
    float: left;
    margin-right: 3%;
    margin-bottom: 5%;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.card:last-child(3n) {
    margin-right: 0px;
}

/* Contenitore dell'immagine profilo */
.profile-img {
    height: 100%;
    width: 30%;
    float: left;
}

/* Immagine usata come immagine profilo */
.profile-img img {
    height: 100%;
    width: 100%;
}

/* Informazioni delle persone */
.information {
    height: 100%;
    width: 70%;
    float: right;
    text-align: left;
    color: white;
}

/* Span per i dati delle persone */
.information span {
    display: block;
    padding: 5px 5px;
}

/* Ancora email */
.information a {
    text-decoration: none;
    color: #00b4d8;
}

/* Nome della persona */
.name {
    font-weight: 900;
}

/* Classe per sistemare i float dei dati delle carte */
.card::after {
    content: '';
    display: table;
    clear: both;
}

/* Classe per sistemare i float delle carte*/
.cards-container::after {
    content: '';
    display: table;
    clear: both;
}