/* Regole generali */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
}

/* H1 del title */
.title h1 {
    font-weight: 900;
    font-size: 42px;
    color: #e05780;
    padding: 30px 0px;
}

/* Paragrafo del title */
.title p {
    padding: 20px 0px;
}


.cards-container {
    width: 100%;
    height: 500px;
    padding: 5px;
    border: 1px solid black;
}

.card {
    height: 100px;
    width: 350px;
    border: 1px solid red;
}

.profile-img {
    height: 100%;
    width: 30%;
    float: left;
    border: 1px solid green;
}

.information {
    height: 100%;
    width: 70%;
    float: left;
    border: 1px solid blue;
}